$off-white: rgba(255,255,255,0.9);
$super-light-grey: #848484;
$light-grey: #424242;
$grey: #303030;
$dark-grey: #212121;

$sidebar-width: 240px;
$header-height: 85px;
$player-height: 110px;

$menu-shadow: 0px 0px 51px 0px rgba(0, 0, 0, 0.1), 0px 6px 18px 0px rgba(0, 0, 0, 0.2);
