$off-white: rgba(255,255,255,0.9);
$light-grey: #424242;
$grey: #303030;
$dark-grey: #212121;

$sidebar-width: 245px;

$menu-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08), 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
